@import "../../css/main.less";

.text-proj-cont{
    width: 220px;
    height: 180px;
    border: solid #eee 1px;
    position: relative;
    box-sizing: border-box;
/*box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);*/
    box-shadow: 0 5px 10px 0 #eee;
    float: left;
    margin: 8px;
    overflow: hidden;
    transition:all 500ms;

    &:hover{
        // border: solid #ccc 1px;
        box-shadow: 0 5px 10px 0 #ccc;
        .text{
            top:30px;
        }
    }

    .img{
        width: 220px;

    }

    .text{
        background-color: #fff;
        position: absolute;
        top: 105px;
        transition: top 0.5s;
        cursor: default;
        font-size: 14px;
        color:#999;
        padding: 8px;
    }

    .bay{
        height: 42px;
        line-height: 42px;
        width: 100%;
    /*background-color: red;*/
        background-color: #fff;
        position: absolute;
        bottom: 0px;
        color: red;
    }
}


.faint-proj-cont{
    width: 220px;
    height: 180px;
    // border: solid #eee 1px;
    position: relative;
    box-sizing: border-box;
/*box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);*/
    box-shadow: 0 5px 10px 0 #eee;
    float: left;
    margin: 8px;
    overflow: hidden;
    transition:all 500ms;

    &:hover{
        // border: solid #ccc 1px;
        box-shadow: 0 5px 10px 0 #ccc;
        .bay{
            top:0px;
        }
    }

    .blur-back{
        position: absolute;
        top: 0px;
        transition: all 0.5s;
        cursor: default;
        font-size: 14px;
        color:#999;

        width:100%;
        height:108px;
        background-image: url(../../imgs/02.jpg);

        background-position: center;
        background-size:100%;

        .filter-blur(2px);
        .opacity(30,0.3);
    }
    .text{
        position:absolute;
        margin:10px;
        color:#666;
    }

    .bay{
        background-color: #666;
        display: block;
        position: absolute;
        width: 100%;
        height: 180px;
        transition: top 0.7s;
        .opacity(40,0.4);
        top:-180px;
    }
}

.slope-cont{
    width: 480px;
    height: 270px;
    // border: solid #eee 1px;
    position: relative;
    // box-sizing: border-box;
    float: left;
    margin: 8px;
    // overflow: hidden;
    // transition:all 500ms;
    text-align: center;

    .slope-box{
        // transition:all 300ms;
        width: 480px;
        height: 270px;
        // position: relative;
        background-color: #ccc;
        box-shadow: 0 0px 10px 0 #ddd;

        perspective: 1000px;
        transform-style: preserve-3d;
        transform: rotateX(0deg) rotateY(0deg);

        .slope-link{
            // background-color: #aaa;
            display: block;
            // width: 100%;
            // height: 100%;
        }
        .slope-detail{
            position: absolute;
            left: 30px;
            right: 30px;
            top: 30px;
            bottom: 30px;

            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;

            //用于鼠标的穿透处理,若不加,会出现边缘
            pointer-events: none;

            //用于z轴的设定
            -webkit-transform: translateZ(30px);
            transform: translateZ(30px);

            // border: 0 solid #00BCD4;
            // transition: border .4s ease;
            color:#eee;
            box-shadow: 0px 0px 10px 0px #ddd;
            text-shadow: 3px 5px 5px #333;
        }
    }
}
