body {
  margin: 40px;
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  color: #666;
  font-size: 14px;
}
p {
  margin: 0px;
}
body {
  margin: 40px;
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  color: #666;
  font-size: 14px;
}
.text-proj-cont {
  width: 220px;
  height: 180px;
  border: solid #eee 1px;
  position: relative;
  box-sizing: border-box;
  /*box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);*/
  box-shadow: 0 5px 10px 0 #eee;
  float: left;
  margin: 8px;
  overflow: hidden;
  transition: all 500ms;
}
.text-proj-cont:hover {
  box-shadow: 0 5px 10px 0 #ccc;
}
.text-proj-cont:hover .text {
  top: 30px;
}
.text-proj-cont .img {
  width: 220px;
}
.text-proj-cont .text {
  background-color: #fff;
  position: absolute;
  top: 105px;
  transition: top 0.5s;
  cursor: default;
  font-size: 14px;
  color: #999;
  padding: 8px;
}
.text-proj-cont .bay {
  height: 42px;
  line-height: 42px;
  width: 100%;
  /*background-color: red;*/
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  color: red;
}
.faint-proj-cont {
  width: 220px;
  height: 180px;
  position: relative;
  box-sizing: border-box;
  /*box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);*/
  box-shadow: 0 5px 10px 0 #eee;
  float: left;
  margin: 8px;
  overflow: hidden;
  transition: all 500ms;
}
.faint-proj-cont:hover {
  box-shadow: 0 5px 10px 0 #ccc;
}
.faint-proj-cont:hover .bay {
  top: 0px;
}
.faint-proj-cont .blur-back {
  position: absolute;
  top: 0px;
  transition: all 0.5s;
  cursor: default;
  font-size: 14px;
  color: #999;
  width: 100%;
  height: 108px;
  background-image: url(../../imgs/02.jpg);
  background-position: center;
  background-size: 100%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);
  filter: alpha(opacity=30);
  opacity: 0.3;
}
.faint-proj-cont .text {
  position: absolute;
  margin: 10px;
  color: #666;
}
.faint-proj-cont .bay {
  background-color: #666;
  display: block;
  position: absolute;
  width: 100%;
  height: 180px;
  transition: top 0.7s;
  filter: alpha(opacity=40);
  opacity: 0.4;
  top: -180px;
}
.slope-cont {
  width: 220px;
  height: 180px;
  position: relative;
  box-sizing: border-box;
  /*box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);*/
  box-shadow: 0 0px 10px 0 #ddd;
  float: left;
  margin: 8px;
  overflow: hidden;
  transition: all 500ms;
  padding: 10px;
  background-color: #ccc;
  text-align: center;
}
.slope-cont:hover .text-box .text {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.slope-cont .text-box .text {
  transition: .4s ease;
  font-size: 28px;
  font-weight: 700;
}
