body {
  margin: 0px;
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  color: #666;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #666;
}
p {
  margin: 0px;
}
body {
  background-color: #f5f5f5;
}
.cont {
  width: 1100px;
  min-height: 1200px;
  background-color: #fff;
  margin: 80px auto 120px;
  border: solid #ccc 1px;
  -webkit-box-shadow: 0px 0px 15px 3px #ccc;
  -moz-box-shadow: 0px 0px 15px 3px #ccc;
  -ms-box-shadow: 0px 0px 15px 3px #ccc;
  box-shadow: 0px 0px 15px 3px #ccc;
}
.cont .cont-body,
.cont .cont-bay {
  min-height: 1200px;
  position: relative;
  float: left;
}
.cont .cont-body {
  width: 800px;
  border-right: solid #ccc 1px;
}
.cont .cont-bay {
  width: 299px;
  background-color: red;
}
.cont .cont-bay .cont-bay-body {
  min-height: 500px;
  width: 299px;
  background-color: #ccc;
  position: fixed;
}
